<section class="position-relative overflow-hidden" id="section-team">
    <!--bg-->
    <div class="position-absolute start-0 top-0 bg-primary w-100 h-50"></div>
    <!--content-->
    <div class="container py-9 py-lg-12 position-relative">
        <div class="row text-white mb-5 mb-lg-7 align-items-center">
            <div class="col-lg-7">
                <!--Subheading-->
                <!-- <div class="mb-3 aos-init aos-animate" data-aos="fade-up">
                    <span class="h6 text-body-secondary">Palestrantes</span>
                </div> -->
                <!--Section Heading-->
                <h2 class="display-5 mb-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">Palestrantes</h2>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade-up">
                <div class="card border-0 bg-transparent">
                    <!--image-->
                    <img src="../../../../assets/images/team/ana-champloni.jpg" class="img-fluid rounded" alt="team" />
                    <div class="card-body text-center py-4 position-relative z-1 shadow rounded-3 mt-n5 bg-body mx-3">
                        <!--title-->
                        <h5 class="mb-1">Ana Champloni</h5>
                        <!--text-->
                        <p class="mb-0">
                            Trabalhadora pretendida. Diretora-adjunta do Departamento da Família (DEFAM) da Federação Espírita Pernambucana
                            (FEP) e Coordenadora Regional Nordeste da Área de Infância e Juventude (AIJ) do Conselho Federativo Nacional
                            (CFN) da Federação Espírita Brasileira (FEB).
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade-up">
                <div class="card border-0 bg-transparent">
                    <!--image-->
                    <img src="../../../../assets/images/team/eden-lemos.jpg" class="img-fluid rounded" alt="team" />
                    <div class="card-body text-center py-4 position-relative z-1 shadow rounded-3 mt-n5 bg-body mx-3">
                        <!--title-->
                        <h5 class="mb-1">Eden Lemos</h5>
                        <!--text-->
                        <p class="mb-0">
                            Evangelizador desde os 15 anos de idade. Foi diretor da Área de Infância e Juventude (AIJ) da Federação Espírita
                            do Rio Grande do Norte (FERN). Também foi Vice-presidente e Presidente da FERN. Atualmente é Diretor da AIJ/FERN
                            e trabalhador da Associação Espírita Trabalhadores da Última Hora (AETUH), em Parnamirim/RN.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade-up">
                <div class="card border-0 bg-transparent">
                    <!--image-->
                    <img src="../../../../assets/images/team/fabio-carvalho-square.jpeg" class="img-fluid rounded" alt="team" />
                    <div class="card-body text-center py-4 position-relative z-1 shadow rounded-3 mt-n5 bg-body mx-3">
                        <!--title-->
                        <h5 class="mb-1">Fábio Carvalho</h5>
                        <!--text-->
                        <p class="mb-0">
                            Atual presidente da Federação Espírita do Maranhão (FEMAR). Também é Secretário-adjunto da Comissão Regional
                            Nordeste e Defensor Público do Estado do Maranhão.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade-up">
                <div class="card border-0 bg-transparent">
                    <!--image-->
                    <img src="../../../../assets/images/team/jorge-godinho-square.jpeg" class="img-fluid rounded" alt="team" />
                    <div class="card-body text-center py-4 position-relative z-1 shadow rounded-3 mt-n5 bg-body mx-3">
                        <!--title-->
                        <h5 class="mb-1">Jorge Godinho</h5>
                        <!--text-->
                        <p class="mb-0">
                            Expositor e monitor espírita desde 1983. Tem divulgado o Espiritismo em diversos países, seja como palestrante
                            ou como aperfeiçoador de cursos, como o do Estudo Avançado da Doutrina Espírita (EADE), na Suíça. Atualmente é
                            presidente da Federação Espírita Brasileira (FEB).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
