<section class="bg-gradient-primary text-white position-relative" id="testimonials">
    <div class="container py-9 py-lg-11 position-relative z-1">
        <h5 class="mb-4 text-info aos-init aos-animate" data-aos="fade-up">Depoimentos</h5>
        <h2 class="display-5 mb-6 aos-init aos-animate" data-aos="fade-up">Relatos de quem já participou</h2>
        <div class="row">
            <div class="row mb-7 justify-content-between">
                <div class="col-lg-4 mb-6 mb-lg-0 aos-init aos-animate" data-aos="fade-up">
                    <figure class="mb-0 position-relative">
                        <div>
                            <blockquote>
                                <p class="lead mb-4">
                                    "Pariatur id et omnis nihil. Dignissimos molestias aut reiciendis mollitia ipsum. Aliquam laborum iste voluptas consequatur consequatur rerum
                                    minima. "
                                </p>
                            </blockquote>
                            <figcaption class="d-flex align-items-center">
                                <div class="position-relative me-4">
                                    <img class="position-relative avatar rounded-circle" src="https://uigator.com/assan/5.1/public/assets/img/avatar/2.jpg" alt="" />
                                </div>
                                <div>
                                    <h6 class="mb-0">Maria da Silva</h6>
                                    <span class="text-white-50 small"> Participou da 30ª e 29ª Mostra </span>
                                </div>
                            </figcaption>
                        </div>
                    </figure>
                </div>
                <div class="col-lg-4 mb-6 mb-lg-0 aos-init aos-animate" data-aos="fade-up">
                    <figure class="mb-0 position-relative">
                        <div>
                            <blockquote>
                                <p class="lead mb-4">"Et et sed vero aut. Et ea eius ipsam et eaque veritatis sed nostrum."</p>
                            </blockquote>
                            <figcaption class="d-flex align-items-center">
                                <div class="position-relative me-4">
                                    <img class="position-relative avatar rounded-circle" src="https://uigator.com/assan/5.1/public/assets/img/avatar/1.jpg" alt="" />
                                </div>
                                <div>
                                    <h6 class="mb-0">Fulaninha de Tal</h6>
                                    <span class="text-white-50 small"> Participou da 31ª Mostra Jovem </span>
                                </div>
                            </figcaption>
                        </div>
                    </figure>
                </div>
                <div class="col-lg-4 aos-init aos-animate" data-aos="fade-up">
                    <figure class="mb-0 position-relative">
                        <div>
                            <blockquote>
                                <p class="lead mb-4">"Fugiat consectetur unde sed corrupti et ut temporibus. Voluptatibus sit et enim corporis aperiam non et cumque."</p>
                            </blockquote>
                            <figcaption class="d-flex align-items-center">
                                <div class="position-relative me-4">
                                    <img class="position-relative avatar rounded-circle" src="https://uigator.com/assan/5.1/public/assets/img/avatar/7.jpg" alt="" />
                                </div>
                                <div>
                                    <h6 class="mb-0">Beltrano Das Dores</h6>
                                    <span class="text-white-50 small">Participou da 31ª Mostra</span>
                                </div>
                            </figcaption>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
