// offcanvas

.offcanvas {
    transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    &.offcanvas-start,
    &.offcanvas-end,
    &.offcanvas-bottom {
        border: 0px;
    }
    .offcanvas-header {
        .btn-close {
            padding: 0px;
        }
    }
    .nav-link {
        font-weight: $font-weight-semibold;
        display: block;
    }
    ul > li {
        transform: translateY(30px);
        opacity: 0;
    }
    ul.no-animation {
        > li {
            transform: none;
            opacity: 1;
            transition: none;
        }
    }
    &.show:not(.offcanvas-navbar) {
        transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        ul > li {
            overflow: hidden;
            transition: opacity 0.45s, transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
            opacity: 1;
            transform: translateZ(0);
        }
    }
}
