<section class="vh-100 text-bg-dark">
    <div class="row vh-100">
        <div class="col-md-6 col-sm-12 left d-flex flex-column text-center">
            <h1>Federação Espírita Pernambucana</h1>
            <p class="lead mt-4">
                <a href="http://federacaoespiritape.org?exibirSiteMostra=false" class="btn btn-lg btn-outline-light">Ir para o site</a>
            </p>
        </div>
        <div class="col-md-6 col-sm-12 right d-flex flex-column text-center">
            <h1>Mostra Espírita 2023</h1>
            <p class="lead mt-4">
                <a routerLink="/mostra" class="btn btn-lg btn-outline-light">Ir para o site</a>
            </p>
        </div>
    </div>
</section>
