<section class="position-relative" id="section-contact">
    <div class="container py-9 py-lg-12">
        <div class="row">
            <div class="col-md-8 col-lg-8 offset-lg-2 mb-7 mb-md-0 me-auto">
                <div class="position-relative">
                    <h5 class="mb-3 text-info">Contato</h5>
                    <h2 class="display-5 mb-3">Fale conosco</h2>
                    <p class="mb-5 lead pe-lg-8">
                        Mande por aqui sua dúvida, sugestão, elogio ou reclamação. Teremos o maior prazer em lhe responder!
                    </p>

                    <form role="form" class="" (ngSubmit)="onSubmit(f)" #f="ngForm">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <label class="form-label" for="input-name">Seu nome e sobrenome</label>
                                <input
                                    type="text"
                                    name="input-name"
                                    class="form-control"
                                    id="input-name"
                                    placeholder="Ex: João da Silva"
                                    ngModel
                                    #inputName="ngModel"
                                    required
                                    [disabled]="isDisabled"
                                />
                                <div class="text-danger" *ngIf="inputName.invalid && isFormSubmitted">
                                    <div *ngIf="inputName.errors.required">Por favor, nos informe seu nome.</div>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <label class="form-label" for="input-email">Seu email</label>
                                <input
                                    type="email"
                                    class="form-control"
                                    name="input-email"
                                    id="input-email"
                                    placeholder="Ex: joaodasilva@email.com"
                                    ngModel
                                    #inputEmail="ngModel"
                                    required
                                    email
                                    [disabled]="isDisabled"
                                />
                                <div class="text-danger" *ngIf="inputEmail.invalid && isFormSubmitted">
                                    <div *ngIf="inputEmail.errors.required">Por favor, nos informe seu email.</div>
                                    <div *ngIf="inputEmail.errors.email">Por favor, informe um email válido.</div>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <label class="form-label" for="input-phone">Seu celular/WhatsApp</label>
                                <input
                                    type="tel"
                                    class="form-control"
                                    name="input-phone"
                                    id="input-phone"
                                    placeholder="Ex: (00) 999 88 77 66"
                                    mask="(00) 000 00 00 00"
                                    ngModel
                                    #inputPhone="ngModel"
                                    minlength="17"
                                    required
                                    [dropSpecialCharacters]="false"
                                    [disabled]="isDisabled"
                                />
                                <div class="text-danger" *ngIf="inputPhone.invalid && isFormSubmitted">
                                    <div *ngIf="inputPhone.errors?.required">Por favor, nos informe seu telefone, celular ou WhatsApp.</div>
                                    <div *ngIf="inputPhone.errors?.minlength">
                                        O telefone está incompleto. Por favor, informe o telefone com DDD + 9 dígitos.
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <label class="form-label" for="select-reason">Motivo do contato</label>
                                <select
                                    class="form-select"
                                    id="select-reason"
                                    name="select-reason"
                                    ngModel
                                    #selectReason="ngModel"
                                    required
                                    [disabled]="isDisabled"
                                >
                                    <option selected="" disabled="" value="">Selecione uma opção</option>
                                    <option value="Dúvida">Dúvida</option>
                                    <option value="Sugestão">Sugestão</option>
                                    <option value="Elogio">Elogio</option>
                                    <option value="Reclamação">Reclamação</option>
                                    <option value="Outro">Outro</option>
                                </select>
                                <div class="text-danger" *ngIf="selectReason.invalid && isFormSubmitted">
                                    <div *ngIf="selectReason.errors.required">Por favor, selecione o motivo do contato.</div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="input-textarea-message" class="form-label">Mensagem</label>
                            <textarea
                                class="form-control"
                                name="input-textarea-message"
                                id="input-textarea-message"
                                placeholder="Por favor, escreva aqui sua mensagem...."
                                required=""
                                style="display: block; overflow: hidden; overflow-wrap: break-word; resize: none; height: 86px"
                                ngModel
                                #inputTextareaMessage="ngModel"
                                required
                                [disabled]="isDisabled"
                            ></textarea>
                            <div class="text-danger" *ngIf="inputTextareaMessage.invalid && isFormSubmitted">
                                <div *ngIf="inputTextareaMessage.errors.required">Por favor, escreva uma mensagem.</div>
                            </div>
                        </div>

                        <div class="d-lg-flex d-grid justify-content-between align-items-center">
                            <p class="small mb-3 w-100 text-body-secondary mb-lg-0">Responderemos em até 1 ou 2 dias úteis.</p>
                            <button type="submit" class="btn btn-lg btn-primary w-100 w-lg-60" [disabled]="isDisabled">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isLoading"></span>
                                {{ isLoading ? "Enviando..." : isSent ? "Mensagem enviada!" : "Enviar mensagem" }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
