<section class="overflow-hidden bg-body position-relative">
    <div class="container position-relative py-9 py-lg-11">
        <h2 class="display-5 text-center mb-6 aos-init aos-animate" data-aos="fade-up">Infraestrutura</h2>
        <!--feature icons row-->
        <div class="row justify-content-center">
            <div class="col-md-4 text-center mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="50">
                <!--Icon card-->
                <div class="card card-body py-5 px-4 border-0 shadow-lg hover-lift hover-shadow-xl">
                    <!--Feature icon-->
                    <div class="mb-4 mx-auto width-10x height-10x flex-center position-relative">
                        <!--Icon bg-->
                        <svg
                            class="position-absolute text-primary start-0 top-0 w-100 h-100"
                            preserveAspectRatio="none"
                            width="120"
                            height="120"
                            viewBox="0 0 120 120"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M55.4078 1.90215C58.3481 0.684225 61.6519 0.684225 64.5922 1.90215L97.8342 15.6714C100.775 16.8894 103.111 19.2255 104.329 22.1658L118.098 55.4078C119.316 58.3481 119.316 61.6519 118.098 64.5922L104.329 97.8342C103.111 100.775 100.775 103.111 97.8342 104.329L64.5922 118.098C61.6519 119.316 58.3481 119.316 55.4078 118.098L22.1658 104.329C19.2255 103.111 16.8894 100.775 15.6714 97.8342L1.90215 64.5922C0.684225 61.6519 0.684225 58.3481 1.90215 55.4078L15.6714 22.1658C16.8894 19.2255 19.2255 16.8894 22.1658 15.6714L55.4078 1.90215Z"
                                fill="currentColor"
                            ></path>
                        </svg>
                        <!--Icon-->
                        <!-- <i class="icon-Idea-3 fs-1 text-white position-relative"></i> -->
                        <i class="fa-solid fa-car-side fs-2 text-white position-relative"></i>
                    </div>
                    <div class="d-flex align-items-center mb-3 justify-content-center">
                        <h5 class="mb-0">Estacionamento</h5>
                    </div>
                    <p class="mb-0 w-lg-75 mx-auto">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                </div>
            </div>
            <div class="col-md-4 text-center mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="card card-body py-5 px-4 border-0 shadow-lg hover-lift hover-shadow-xl">
                    <!--Feature icon-->
                    <div class="mb-4 mx-auto width-10x height-10x flex-center position-relative">
                        <!--Icon bg-->
                        <svg
                            class="position-absolute text-primary start-0 top-0 w-100 h-100"
                            preserveAspectRatio="none"
                            width="120"
                            height="120"
                            viewBox="0 0 120 120"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M55.4078 1.90215C58.3481 0.684225 61.6519 0.684225 64.5922 1.90215L97.8342 15.6714C100.775 16.8894 103.111 19.2255 104.329 22.1658L118.098 55.4078C119.316 58.3481 119.316 61.6519 118.098 64.5922L104.329 97.8342C103.111 100.775 100.775 103.111 97.8342 104.329L64.5922 118.098C61.6519 119.316 58.3481 119.316 55.4078 118.098L22.1658 104.329C19.2255 103.111 16.8894 100.775 15.6714 97.8342L1.90215 64.5922C0.684225 61.6519 0.684225 58.3481 1.90215 55.4078L15.6714 22.1658C16.8894 19.2255 19.2255 16.8894 22.1658 15.6714L55.4078 1.90215Z"
                                fill="currentColor"
                            ></path>
                        </svg>
                        <!--Icon-->
                        <!-- <i class="icon-Code-Window text-white fs-2 position-relative"></i> -->
                        <i class="fa-solid fa-utensils text-white fs-1 position-relative"></i>
                    </div>

                    <!--Feature Text-->
                    <div class="d-flex align-items-center mb-3 justify-content-center">
                        <h5 class="mb-0">Almoço</h5>
                    </div>
                    <p class="mb-0 w-lg-75 mx-auto">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                </div>
            </div>
            <div class="col-md-4 text-center mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="150">
                <div class="card card-body py-5 px-4 border-0 shadow-lg hover-lift hover-shadow-xl">
                    <!--Feature icon-->
                    <div class="mb-4 mx-auto width-10x height-10x flex-center position-relative">
                        <!--Icon bg-->
                        <svg
                            class="position-absolute text-primary start-0 top-0 w-100 h-100"
                            preserveAspectRatio="none"
                            width="120"
                            height="120"
                            viewBox="0 0 120 120"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M55.4078 1.90215C58.3481 0.684225 61.6519 0.684225 64.5922 1.90215L97.8342 15.6714C100.775 16.8894 103.111 19.2255 104.329 22.1658L118.098 55.4078C119.316 58.3481 119.316 61.6519 118.098 64.5922L104.329 97.8342C103.111 100.775 100.775 103.111 97.8342 104.329L64.5922 118.098C61.6519 119.316 58.3481 119.316 55.4078 118.098L22.1658 104.329C19.2255 103.111 16.8894 100.775 15.6714 97.8342L1.90215 64.5922C0.684225 61.6519 0.684225 58.3481 1.90215 55.4078L15.6714 22.1658C16.8894 19.2255 19.2255 16.8894 22.1658 15.6714L55.4078 1.90215Z"
                                fill="currentColor"
                            ></path>
                        </svg>
                        <!--Icon-->
                        <i class="fa-solid fa-mug-hot text-white fs-1 position-relative"></i>
                    </div>

                    <!--Feature Text-->
                    <div class="d-flex align-items-center mb-3 justify-content-center">
                        <h5 class="mb-0">Lanches</h5>
                    </div>
                    <p class="mb-0 w-lg-75 mx-auto">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
