<section class="position-relative" id="section-schedule">
    <div class="container py-9 py-lg-11 position-relative z-1">
        <div class="row">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <h5 class="mb-4 text-info">Programação</h5>
                <h2 class="display-5 mb-6">Dias e Horários</h2>
                <!--Schedule tabs-->
                <div class="nav nav-pills flex-column" id="myTab" role="tablist">
                    <button
                        class="nav-link px-4 text-start mb-3"
                        id="d1-tab"
                        type="button"
                        role="tab"
                        [ngClass]="{ active: showDay == 1 }"
                        (click)="showDay = 1"
                    >
                        <span class="d-block fs-5 fw-bold">Dia 1</span>
                        <span class="small">Sexta, 15 de Setembro, 2023</span>
                    </button>
                    <button
                        class="nav-link px-4 text-start mb-3"
                        id="d2-tab"
                        type="button"
                        role="tab"
                        [ngClass]="{ active: showDay == 2 }"
                        (click)="showDay = 2"
                    >
                        <span class="d-block fs-5 fw-bold">Dia 2</span>
                        <span class="small">Sábado, 16 de Setembro, 2023</span>
                    </button>
                    <button
                        class="nav-link px-4 text-start"
                        id="d2-tab"
                        type="button"
                        role="tab"
                        [ngClass]="{ active: showDay == 3 }"
                        (click)="showDay = 3"
                    >
                        <span class="d-block fs-5 fw-bold">Dia 3</span>
                        <span class="small">Domingo, 17 de Setembro, 2023</span>
                    </button>
                </div>

                <div class="mt-7">
                    <a class="btn btn-primary btn-lg d-block" [href]="urlCalendarEvents" role="button">Adicionar na minha agenda</a>
                </div>
            </div>
            <div class="col-lg-7 col-xl-6 ms-xl-auto">
                <div class="tab-content" id="myTabContent">
                    <!-- Dia 01 - Sexta -->
                    <div
                        class="tab-pane fade"
                        id="day1"
                        role="tabpanel"
                        *ngIf="showDay == 1"
                        [ngClass]="{ 'active show': showDay == 1 }"
                        [@fadeInOut]
                    >
                        <ul class="pt-4 list-unstyled mb-0">
                            <li class="d-flex flex-column flex-md-row py-4">
                                <span class="flex-shrink-0 width-13x me-md-4 d-block mb-3 mb-md-0 small text-body-secondary"
                                    >19h00 - 19h30</span
                                >
                                <div class="flex-grow-1 ps-4 border-start border-3">
                                    <h4>Boas-vindas e Registro</h4>
                                    <p class="mb-0">
                                        Será efetuado o registro dos participantes, com entrega das pulseiras de identificação e demais
                                        orientações do evento.
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex flex-column flex-md-row py-4">
                                <span class="flex-shrink-0 width-13x me-md-4 d-block mb-3 mb-md-0 small text-body-secondary"
                                    >19h00 - 19h30</span
                                >
                                <div class="flex-grow-1 ps-4 border-start border-3">
                                    <h4>Momento artístico</h4>
                                    <p class="mb-0">Será realizada uma apresentação artística no <strong>auditório</strong> da FEP.</p>
                                </div>
                            </li>
                            <li class="d-flex flex-column flex-md-row py-4">
                                <span class="flex-shrink-0 width-13x me-md-4 d-block mb-3 mb-md-0 small text-body-secondary"
                                    >19h30 - 20h30</span
                                >
                                <div class="flex-grow-1 ps-4 border-start border-3">
                                    <h4>Palestra</h4>
                                    <p class="mb-0">
                                        <strong>Jorge Godinho</strong> conduzirá a Palestra de Abertura no Auditório da FEP, com o tema
                                        <strong>
                                            <i>“Doutrina Espírita: Luz do mundo “aquele que me segue, não andará em trevas”.</i></strong
                                        >
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- Dia 02 - Sábado -->
                    <div
                        class="tab-pane fade"
                        id="day2"
                        role="tabpanel"
                        *ngIf="showDay == 2"
                        [ngClass]="{ 'active show': showDay == 2 }"
                        [@fadeInOut]
                    >
                        <ul class="pt-4 list-unstyled mb-0">
                            <li class="d-flex flex-column flex-md-row py-4">
                                <span class="flex-shrink-0 width-13x me-md-4 d-block mb-3 mb-md-0 small text-body-secondary">
                                    08h30 - 09h00
                                </span>
                                <div class="flex-grow-1 ps-4 border-start border-3">
                                    <h4>Momento artístico</h4>
                                    <p class="mb-0">Será realizada uma apresentação artística no <strong>auditório</strong> da FEP.</p>
                                </div>
                            </li>
                            <li class="d-flex flex-column flex-md-row py-4">
                                <span class="flex-shrink-0 width-13x me-md-4 d-block mb-3 mb-md-0 small text-body-secondary">
                                    09h00 - 10h30
                                </span>
                                <div class="flex-grow-1 ps-4 border-start border-3">
                                    <h4>Palestra</h4>
                                    <p class="mb-0">
                                        <strong>Ana Champloni</strong> conduzirá a primeira palestra do sábado no Auditório da FEP, com o
                                        tema
                                        <strong>
                                            <i>“Eu sou a luz do mundo” (João 9: 5).</i>
                                        </strong>
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex flex-column flex-md-row py-4">
                                <span class="flex-shrink-0 width-13x me-md-4 d-block mb-3 mb-md-0 small text-body-secondary">
                                    10h30 - 11h00
                                </span>
                                <div class="flex-grow-1 ps-4 border-start border-3">
                                    <h4>Momento artístico</h4>
                                    <p class="mb-0">Será realizada uma apresentação artística no <strong>pátio</strong> da FEP.</p>
                                </div>
                            </li>
                            <li class="d-flex flex-column flex-md-row py-4">
                                <span class="flex-shrink-0 width-13x me-md-4 d-block mb-3 mb-md-0 small text-body-secondary">
                                    11h00 - 12h30
                                </span>
                                <div class="flex-grow-1 ps-4 border-start border-3">
                                    <h4>Palestra</h4>
                                    <p class="mb-0">
                                        <strong>Eden Lemos</strong> conduzirá a segunda palestra do sábado no Auditório da FEP, com o tema
                                        <strong>
                                            <i> “Vós sois a luz do mundo, brilhe a vossa luz” (Mateus 5: 14-16).</i>
                                        </strong>
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex flex-column flex-md-row py-4">
                                <span class="flex-shrink-0 width-13x me-md-4 d-block mb-3 mb-md-0 small text-body-secondary">
                                    12h30 - 13h30
                                </span>
                                <div class="flex-grow-1 ps-4 border-start border-3">
                                    <h4>Almoço + Momento artístico</h4>
                                    <p class="mb-0">Intervalo para almoço com apresentações artística no <strong>pátio</strong> da FEP.</p>
                                </div>
                            </li>
                            <li class="d-flex flex-column flex-md-row py-4">
                                <span class="flex-shrink-0 width-13x me-md-4 d-block mb-3 mb-md-0 small text-body-secondary">
                                    13h30 - 14h00
                                </span>
                                <div class="flex-grow-1 ps-4 border-start border-3">
                                    <h4>Momento artístico</h4>
                                    <p class="mb-0">Será realizada uma apresentação artística no <strong>auditório</strong> da FEP.</p>
                                </div>
                            </li>
                            <li class="d-flex flex-column flex-md-row py-4">
                                <span class="flex-shrink-0 width-13x me-md-4 d-block mb-3 mb-md-0 small text-body-secondary">
                                    14h00 - 15h30
                                </span>
                                <div class="flex-grow-1 ps-4 border-start border-3">
                                    <h4>Palestra</h4>
                                    <p class="mb-0">
                                        <strong>Fábio Carvalho</strong> conduzirá a terceira palestra do sábado no Auditório da FEP, com o
                                        tema
                                        <strong>
                                            <i>“Crede na luz, para vos tornardes filhos da luz” (João 12: 36).</i>
                                        </strong>
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex flex-column flex-md-row py-4">
                                <span class="flex-shrink-0 width-13x me-md-4 d-block mb-3 mb-md-0 small text-body-secondary">
                                    15h30 - 16h00
                                </span>
                                <div class="flex-grow-1 ps-4 border-start border-3">
                                    <h4>Momento artístico</h4>
                                    <p class="mb-0">Será realizada uma apresentação artística no <strong>pátio</strong> da FEP.</p>
                                </div>
                            </li>
                            <li class="d-flex flex-column flex-md-row py-4">
                                <span class="flex-shrink-0 width-13x me-md-4 d-block mb-3 mb-md-0 small text-body-secondary">
                                    16h00 - 17h30
                                </span>
                                <div class="flex-grow-1 ps-4 border-start border-3">
                                    <h4>Palestra</h4>
                                    <p class="mb-0">
                                        <strong>Jorge Godinho</strong> conduzirá a última palestra do sábado no Auditório da FEP, com o tema
                                        <strong>
                                            <i>“Evangelho de Jesus: luz que iluminará o mundo a partir de cada um de nós”.</i>
                                        </strong>
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex flex-column flex-md-row py-4">
                                <span class="flex-shrink-0 width-13x me-md-4 d-block mb-3 mb-md-0 small text-body-secondary">
                                    17h30 - 18h00
                                </span>
                                <div class="flex-grow-1 ps-4 border-start border-3">
                                    <h4>Momento artístico</h4>
                                    <p class="mb-0">Será realizada uma apresentação artística no <strong>pátio</strong> da FEP.</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- Dia 03 - Domingo -->
                    <div
                        class="tab-pane fade"
                        id="day3"
                        role="tabpanel"
                        *ngIf="showDay == 3"
                        [ngClass]="{ 'active show': showDay == 3 }"
                        [@fadeInOut]
                    >
                        <ul class="pt-4 list-unstyled mb-0">
                            <li class="d-flex flex-column flex-md-row py-4">
                                <span class="flex-shrink-0 width-13x me-md-4 d-block mb-3 mb-md-0 small text-body-secondary">
                                    08h30 - 09h00
                                </span>
                                <div class="flex-grow-1 ps-4 border-start border-3">
                                    <h4>Momento artístico</h4>
                                    <p class="mb-0">Será realizada uma apresentação artística no <strong>auditório</strong> da FEP.</p>
                                </div>
                            </li>
                            <li class="d-flex flex-column flex-md-row py-4">
                                <span class="flex-shrink-0 width-13x me-md-4 d-block mb-3 mb-md-0 small text-body-secondary">
                                    09h00 - 10h30
                                </span>
                                <div class="flex-grow-1 ps-4 border-start border-3">
                                    <h4>Palestra</h4>
                                    <p class="mb-0">
                                        <strong>Ana Champloni</strong> conduzirá a primeira palestra do domingo no Auditório da FEP, com o
                                        tema
                                        <strong>
                                            <i>“Família: sol para as almas, roteiro para a vida”.</i>
                                        </strong>
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex flex-column flex-md-row py-4">
                                <span class="flex-shrink-0 width-13x me-md-4 d-block mb-3 mb-md-0 small text-body-secondary">
                                    10h30 - 11h00
                                </span>
                                <div class="flex-grow-1 ps-4 border-start border-3">
                                    <h4>Momento artístico</h4>
                                    <p class="mb-0">
                                        O grupo <strong>"Voz & Caridade"</strong> da União Espírita Kardecista (UNESKA) no
                                        <strong>pátio</strong> da FEP.
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex flex-column flex-md-row py-4">
                                <span class="flex-shrink-0 width-13x me-md-4 d-block mb-3 mb-md-0 small text-body-secondary">
                                    11h00 - 12h30
                                </span>
                                <div class="flex-grow-1 ps-4 border-start border-3">
                                    <h4>Painel expositivo</h4>
                                    <p class="mb-0">
                                        <strong>Ana Champloni</strong>, <strong>Eden Lemos</strong> e
                                        <strong>Fábio Carvalho</strong> conduzirão um painel expositivo com perguntas do público presente,
                                        no Auditório da FEP, com o tema
                                        <strong>
                                            <i>“O mundo tem tanta necessidade de amor quanto de luz” (Romanos 13:10).</i>
                                        </strong>
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex flex-column flex-md-row py-4">
                                <span class="flex-shrink-0 width-13x me-md-4 d-block mb-3 mb-md-0 small text-body-secondary">
                                    12h30 - 13h00
                                </span>
                                <div class="flex-grow-1 ps-4 border-start border-3">
                                    <h4>Encerramento + Momento artístico</h4>
                                    <p class="mb-0">
                                        O grupo <strong>"Voz & Caridade"</strong> da União Espírita Kardecista (UNESKA) encerrará o evento,
                                        se apresentando nas áreas externas da FEP, no térreo do edifício do auditório.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
