<section class="position-relative d-none" id="section-faq">
    <div class="container py-9 py-lg-11 position-relative z-1">
        <div class="row mb-5 mb-lg-9">
            <div class="col-lg-8 col-md-10 mx-md-auto text-center">
                <h5 class="mb-3 text-info">FAQ</h5>
                <h2 class="display-5 mb-0">Perguntas Frequentes</h2>
            </div>
        </div>

        <div class="row justify-content-around">
            <div class="col-12 col-md-6 col-lg-5 mb-7">
                <div class="d-flex align-items-stretch">
                    <div class="me-3 me-lg-4">
                        <span class="text-primary fs-5 d-flex width-2x height-2x rounded-2 flex-center bg-primary-subtle">
                            <i class="fa-solid fa-question"></i>
                        </span>
                    </div>

                    <div>
                        <h5 class="mb-3">Existe alguma política de reembolso?</h5>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Viverra nam libero justo laoreet.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 mb-7">
                <div class="d-flex align-items-stretch">
                    <div class="me-3 me-lg-4">
                        <span class="text-primary fs-5 d-flex width-2x height-2x rounded-2 flex-center bg-primary-subtle">
                            <i class="fa-solid fa-question"></i>
                        </span>
                    </div>

                    <div>
                        <h5 class="mb-3">Como faço para doar um ingresso?</h5>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Viverra nam libero justo laoreet.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 mb-7">
                <div class="d-flex align-items-stretch">
                    <div class="me-3 me-lg-4">
                        <span class="text-primary fs-5 d-flex width-2x height-2x rounded-2 flex-center bg-primary-subtle">
                            <i class="fa-solid fa-question"></i>
                        </span>
                    </div>

                    <div>
                        <h5 class="mb-3">Preciso levar algum comprovante no dia da Mostra?</h5>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Viverra nam libero justo laoreet.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 mb-7 mb-md-0">
                <div class="d-flex align-items-stretch">
                    <div class="me-3 me-lg-4">
                        <span class="text-primary fs-5 d-flex width-2x height-2x rounded-2 flex-center bg-primary-subtle">
                            <i class="fa-solid fa-question"></i>
                        </span>
                    </div>

                    <div>
                        <h5 class="mb-3">Tem meia entrada p/ estudantes, professores ou idosos?</h5>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Viverra nam libero justo laoreet.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 mb-7 mb-md-0">
                <div class="d-flex align-items-stretch">
                    <div class="me-3 me-lg-4">
                        <span class="text-primary fs-5 d-flex width-2x height-2x rounded-2 flex-center bg-primary-subtle">
                            <i class="fa-solid fa-question"></i>
                        </span>
                    </div>

                    <div>
                        <h5 class="mb-3">Lorem ipsum dolor sit amet?</h5>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Viverra nam libero justo laoreet.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
                <div class="d-flex align-items-stretch">
                    <div class="me-3 me-lg-4">
                        <span class="text-primary fs-5 d-flex width-2x height-2x rounded-2 flex-center bg-primary-subtle">
                            <i class="fa-solid fa-question"></i>
                        </span>
                    </div>
                    <div>
                        <h5 class="mb-3">Lorem ipsum dolor sit amet?</h5>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Viverra nam libero justo laoreet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center mb-0">
        Não achou uma resposta aqui? <br />
        Manda sua dúvida no formulário logo abaixo 👇
    </p>
</section>
