<footer class="text-white-50">
    <section class="footer-main">
        <div class="container">
            <div class="text-center">
                <a href="http://federacaoespiritape.org/" target="_blank">
                    <img src="../../../../assets/images/logo/logo_FEP_cor_branca_centralizado.png" alt="" width="200" />
                </a>
            </div>
            <div class="row text-center">
                <div class="col-sm-12 mt-5">
                    <div class="mb-2">
                        <span><i class="fas fa-map-marker-alt text-white fa-lg me-1"></i> </span>
                        <span
                            ><a href="https://goo.gl/maps/Xw4APVjLs7wNFXXF7" target="_blank" class="underline text-white-50 hover-text-white"
                                >Avenida João de Barros, 1629 – Espinheiro, Recife – PE</a
                            >
                        </span>
                    </div>
                    <div>
                        <span><i class="far fa-envelope text-white fa-lg me-1"></i> </span>
                        <span class="pe-3 border-right me-3">fep@fepernambucana.org</span>
                        <span><i class="fas fa-phone text-white fa-lg me-1"></i> </span>
                        <span>(81) 3241-2157</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="social-icons">
                        <a href="https://www.facebook.com/Fepernambucana/" target="_blank">
                            <span> <i class="fab fa-facebook fa-2x"></i></span
                        ></a>
                        <a href="https://twitter.com/FespiritaPE/" target="_blank">
                            <span> <i class="fab fa-twitter fa-2x"></i></span
                        ></a>
                        <a href="https://www.instagram.com/federacaoespiritapernambucana/" target="_blank">
                            <span> <i class="fab fa-instagram fa-2x"></i></span
                        ></a>
                        <a href="https://www.youtube.com/channel/UC8PvDlkdXrsk6YXnF94QPkA" target="_blank">
                            <span> <i class="fab fa-youtube fa-2x"></i></span
                        ></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-subheader">
        <div class="container text-center">
            <span
                >&copy; 2023
                <span class="text-white font-weight-bold"> FEP - Federação Espírita Pernambucana </span>
            </span>
        </div>
    </section>
</footer>
