<section class="position-relative overflow-hidden" id="about">
    <div class="container py-9 py-lg-11 position-relative z-1">
        <div class="row align-items-center">
            <div class="col-lg-5 mb-6 mb-lg-0">
                <div data-aos="fade-right" data-aos-delay="200" class="aos-init aos-animate">
                    <img
                        class="img-fluid rounded-3"
                        src="https://images.unsplash.com/photo-1564522365984-c08ed1f78893?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1374&amp;q=80"
                        alt="Event_about_image"
                    />
                </div>
            </div>
            <div class="col-lg-6 ms-xl-auto">
                <h5 class="mb-4 text-info aos-init aos-animate" data-aos="fade-up">Sobre a Mostra</h5>
                <h2 class="display-5 text-capitalize mb-5 aos-init aos-animate" data-aos="fade-up">Mostra Espírita <span class="text-primary">#32ª</span></h2>
                <p class="mb-6 lead aos-init aos-animate" data-aos="fade-up">
                    Duis aute irure dolor in reprehenderit in dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum.
                </p>
                <p class="mb-6 lead aos-init aos-animate" data-aos="fade-up">
                    Duis aute irure dolor in reprehenderit in dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum.
                </p>
                <div class="mb-7 aos-init aos-animate" data-aos="fade-up">
                    <a href="https://vimeo.com/353105087" data-glightbox="" data-gallery="gallery06" class="btn btn-primary px-lg-5 py-lg-3">
                        <i class="bx bx-play fs-5 me-1 me-lg-2 align-middle"></i> Veja as edições anteriores
                    </a>
                </div>
                <span class="text-body-secondary d-block mb-4 aos-init aos-animate" data-aos="fade-up">Faltam apenas</span>

                <!--Countdown Start -->
                <div class="position-relative d-flex flex-wrap mb-7" data-countdown="2024/01/01">
                    <div class="width-10x height-10x d-flex flex-column flex-center rounded-circle bg-body-tertiary small me-3">
                        <h2 class="mb-0">04</h2>
                        meses
                    </div>
                    <div class="width-10x height-10x d-flex flex-column flex-center rounded-circle bg-body-tertiary small me-3">
                        <h2 class="mb-0">18</h2>
                        dias
                    </div>
                    <div class="width-10x height-10x d-flex flex-column flex-center rounded-circle bg-body-tertiary small me-3">
                        <h2 class="mb-0">7</h2>
                        horas
                    </div>
                    <div class="width-10x height-10x d-flex flex-column flex-center rounded-circle bg-body-tertiary small me-3">
                        <h2 class="mb-0">16</h2>
                        minutos
                    </div>
                    <div class="width-10x height-10x d-flex flex-column flex-center rounded-circle bg-body-tertiary small me-3">
                        <h2 class="mb-0">35</h2>
                        segundos
                    </div>
                </div>
                <!--/.Countdown End -->
            </div>
        </div>
    </div>
</section>
