<section class="position-relative overflow-hidden" id="contact">
    <div class="container-fluid pb-9 pb-lg-0 ps-lg-0">
        <div class="row align-items-center">
            <div class="col-lg-8 mb-7 mb-lg-0">
                <div id="map" style="height: 440px" class="mapboxgl-map">
                    <iframe
                        id="gmap_canvas"
                        src="https://maps.google.com/maps?q=Federa%C3%A7%C3%A3o%20Esp%C3%ADrita%20Pernambucana&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        height="100%"
                        width="100%"
                    ></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 mx-xl-auto">
                <h5 class="mb-3 text-info aos-init aos-animate" data-aos="fade-up">Localização</h5>
                <h2 class="display-5 mb-3 aos-init aos-animate" data-aos="fade-up">Endereço da FEP</h2>
                <p class="fs-5 mb-4 aos-init aos-animate" data-aos="fade-up">Av. João de Barros, 1629. Espinheiro, Recife - PE.</p>
                <a href="https://goo.gl/maps/6G6y7LUPn9zUXVXU8" class="btn btn-primary btn-lg me-2 me-lg-3">Como chegar</a>
            </div>
        </div>
    </div>
</section>
