<section class="bg-dark text-white position-relative overflow-hidden" style="min-height: 800px">
    <div class="parallax w-100 h-100 opacity-25 position-absolute end-0 top-0 bg-cover bg-no-repeat bg-center">
        <!-- <div class="jarallax h-100 w-100" data-video-src="mp4:./assets/videos/officeloop.mp4"></div> -->
    </div>

    <div class="container pt-12 pb-12 position-relative z-1">
        <div class="row pt-lg-9 pb-lg-5 align-items-center">
            <div class="col-lg-8 mx-auto text-center mb-5 mb-lg-0">
                <div
                    class="swiper-container swiper-text w-100 height-3x fs-5 fw-bold text-uppercase my-5 text-white overflow-hidden swiper-initialized swiper-vertical swiper-pointer-events swiper-backface-hidden"
                >
                    <div class="swiper-wrapper text-info" aria-live="off">
                        <div class="justify-content-center" style="height: 32px">de 15 a 17 de Setembro</div>
                    </div>

                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>

                <h1 class="display-3 mb-4 mb-lg-5">32ª Mostra Espírita</h1>

                <p class="mb-5 mb-lg-7 lead mx-auto">
                    3 dias, 4 palestrantes, 6 apresentações musicais e 7 palestras. <br />
                    Venha participar!
                </p>

                <div class="d-flex align-items-center justify-content-center">
                    <a href="javascript:void(0)" class="btn btn-primary btn-lg me-2 me-lg-3">Quero me inscrever</a>
                </div>
            </div>
        </div>
    </div>

    <svg
        class="position-absolute start-0 bottom-0 mb-n1"
        style="color: var(--bs-body-bg)"
        preserveAspectRatio="none"
        width="100%"
        height="80"
        viewBox="0 0 1460 120"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path d="M122 22.8261L0 0V120H1460V0L1338 22.8261C1217 44.1304 973 88.2609 730 88.2609C487 88.2609 243 44.1304 122 22.8261Z" fill="currentColor"></path>
    </svg>
</section>

<!-- <section class="position-relative bg-dark jarallax text-white" data-speed=".2">
    <img src="https://uigator.com/assan/5.1/public/assets/img/backgrounds/bg6.jpg" alt="" class="jarallax-img opacity-50" />
    <div class="container position-relative pt-12 pb-12">
        <div class="row pt-lg-12 pb-lg-4">
            <div class="col-xl-8 col-lg-10 mx-auto text-center">
                <h1 class="display-2 mb-4">Parallax background hero example</h1>
                <p class="mb-5 mb-lg-9">Build a stunning website that attract visitors</p>
                <a href="#next" class="btn btn-outline-white btn-lg px-4 px-lg-5 rounded-pill btn-rise">
                    <div class="btn-rise-bg bg-white"></div>
                    <div class="btn-rise-text">Get started</div>
                </a>
            </div>
        </div>
    </div>
</section> -->
