<div class="bg-dark pt90 pb60" id="pricing">
	<div class="container">
		<div class="center-title mb60 text-center">
			<h2 class="text-white">Inscrições</h2>
			<p class="text-white-gray">Inscrições através da plataforma de eventos Sympla.</p>
		</div>
		<div class="row">
			<div class="pricing-table  align-items-center">
				<div class="col-lg-4 col-md-6 plan">
					<div class="plan-header">
						<h4>Mostrinha</h4>
						<h1 class="text-info">R$ 20,00 <small>/ 1 inscrição</small></h1>
						<h6>Crianças de 5 à 13 anos.</h6>
					</div>
					<a href="#" class="btn btn-secondary btn-lg btn-block">Realizar Inscrição</a>
					<ul class="list-unstyled">
						<li><i class="fas fa-check-circle"></i> Preço fixo até a data do evento</li>
						<li><i class="fas fa-check-circle"></i> Almoço e lanches inclusos</li>
						<li><i class="fas fa-check-circle"></i> Inumeras oficinas</li>
						<li><i class="fas fa-check-circle"></i> Cineminha</li>
						<li><i class="fas fa-check-circle"></i> Programação para o sábado e o domingo</li>
					</ul>
				</div>
				<div class="col-lg-4 col-md-6 plan popular-plan">
					<div class="plan-header">
						<div class="mb30"><span class="badge badge-primary">Evento principal</span></div>
						<h4>Mostra Espírita</h4>
						<h1 class="text-primary">R$ 60,00 <small>/ 1 inscrição</small></h1>
						<h6>Livra para qualquer idade</h6>
					</div>
					<a href="#" class="btn btn-primary btn-lg btn-block">Realizar inscrição</a>
					<ul class="list-unstyled">
						<li><i class="fas fa-check-circle"></i> Camiseta do evento inclusa</li>
						<li><i class="fas fa-check-circle"></i> <strong>3</strong> dias de evento</li>
						<li><i class="fas fa-check-circle"></i> Inúmeras palestras</li>
						<li><i class="fas fa-check-circle"></i> Almoço incluso</li>
					</ul>
				</div>
				<div class="col-lg-4 col-md-6 plan">
					<div class="plan-header">
						<h4>Mostra Jovem</h4>
						<h1 class="text-info">R$ 20,00 <small>/ 1 inscrição</small></h1>
						<h6>Jovens de 13 à 25 anos</h6>
					</div>
					<a href="#" class="btn btn-secondary btn-lg btn-block">Realizar Inscrição</a>
					<ul class="list-unstyled">
						<li><i class="fas fa-check-circle"></i> Preço fixo até a data do evento</li>
						<li><i class="fas fa-check-circle"></i> Almoço incluso</li>
						<li><i class="fas fa-check-circle"></i> Inumeras palestras</li>
						<li><i class="fas fa-check-circle"></i> Programação para todo o sábado</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
