<div id="schedule" class="pt90 pb90 bg-white">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 mr-auto ml-auto text-center">
				<div class="center-title mb60">
					<h2>Programação</h2>
					<p class="lead">
						18 - 20 de Setembro de 2020
					</p>
				</div>
			</div>
		</div>
		<div class="row margin-b-30">
			<div class="col-md-10 mr-auto ml-auto">
				<div>
					<!-- Nav tabs -->
					<ul class="nav tabs-schedule nav-tabs list-inline" role="tablist">
						<li role="presentation" class="nav-item">
							<a
								class="nav-link active"
								href=""
								ng-click="$ctrl.changeTab(1)"
								aria-controls="01"
								role="tab"
								data-toggle="tab"
								>Dia 1 <span>18 Setembro 2020</span></a
							>
						</li>
						<li role="presentation" class="nav-item">
							<a
								class="nav-link"
								href=""
								ng-click="$ctrl.changeTab(2)"
								aria-controls="02"
								role="tab"
								data-toggle="tab"
								>Dia 2 <span>19 Setembro 2020</span></a
							>
						</li>
						<li role="presentation" class="nav-item">
							<a
								class="nav-link"
								href=""
								ng-click="$ctrl.changeTab(3)"
								aria-controls="03"
								role="tab"
								data-toggle="tab"
								>Dia 3 <span>20 Setembro 2020</span></a
							>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div
							role="tabpanel"
							class="tab-pane fade"
							id="01"
							ng-class="$ctrl.activeTab == 1  ? 'active show' : 'hide' "
						>
							<div class="row margin-b-30" style="opacity: 0.7;">
								<div class="col-sm-3 event-info">
									<span>Sexta</span>
									<span>18:00 ─ 19:00</span>
								</div>
								<div class="col-sm-9 event-detail">
									<h3><a href="#">Recepção e Credenciamento</a></h3>
									<p>
										But I must explain to you how all this mistaken idea of denouncing pleasure and
										praising pain was born and I will give you a complete account of the system, and
										expound the actual teachings, the master-builder of human happiness
									</p>
								</div>
							</div>
							<div class="row margin-b-30" style="opacity: 0.7;">
								<div class="col-sm-3 event-info">
									<span>Sexta</span>
									<span>19:00 ─ 20:00</span>
									<span class="event-hall">Auditório</span>
								</div>
								<div class="col-sm-9 event-detail">
									<h3><a href="#">Apresentação Musical</a></h3>
									<p>
										But I must explain to you how all this mistaken idea of denouncing pleasure and
										praising pain was born and I will give you a complete account of the system, and
										expound the actual teachings, the master-builder of human happiness
									</p>
								</div>
							</div>
							<div class="row margin-b-30">
								<div class="col-sm-3 event-info">
									<span>Sexta</span>
									<span>19:45 ─ 21:00</span>
									<span class="event-hall">Auditório</span>
								</div>
								<div class="col-sm-9 event-detail">
									<h3><a href="#">Palestra: O que é Mediunidade?</a></h3>
									<div class="row">
										<div class="col-sm-2">
											<img
												src="https://cdn1.iconfinder.com/data/icons/avatars-1-5/136/87-512.png"
												alt=""
												class="img-fluid"
											/>
										</div>
										<div class="col-sm-10">
											<h4>Juselma Coelho</h4>
											<p>
												But I must explain to you how all this mistaken idea of denouncing
												pleasure and praising pain was born and I will give you a complete
												account of the system, and expound the actual teachings, the
												master-builder of human happiness
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row margin-b-30" style="opacity: 0.7;">
								<div class="col-sm-3 event-info">
									<span>Sexta</span>
									<span>21:00</span>
								</div>
								<div class="col-sm-9 event-detail">
									<h3><a href="#">Prece e encerramento</a></h3>
								</div>
							</div>
						</div>
						<div
							role="tabpanel"
							class="tab-pane fade"
							id="02"
							ng-class="$ctrl.activeTab == 2 ? 'active show' : 'hide' "
						>
							<div class="row margin-b-30" style="opacity: 0.7;">
								<div class="col-sm-3 event-info">
									<span>Sábado</span>
									<span>08:00 ─ 08:30</span>
								</div>
								<div class="col-sm-9 event-detail">
									<h3><a href="#">Recepção e Credenciamento</a></h3>
									<p>
										But I must explain to you how all this mistaken idea of denouncing pleasure and
										praising pain was born and I will give you a complete account of the system, and
										expound the actual teachings, the master-builder of human happiness
									</p>
								</div>
							</div>
							<div class="row margin-b-30" style="opacity: 0.7;">
								<div class="col-sm-3 event-info">
									<span>Sábado</span>
									<span>08:30 ─ 09:00</span>
									<span class="event-hall">Auditório</span>
								</div>
								<div class="col-sm-9 event-detail">
									<h3><a href="#">Boas-Vindas e Apresentação Musical</a></h3>
									<p>
										But I must explain to you how all this mistaken idea of denouncing pleasure and
										praising pain was born and I will give you a complete account of the system, and
										expound the actual teachings, the master-builder of human happiness
									</p>
								</div>
							</div>
							<div class="row margin-b-30">
								<div class="col-sm-3 event-info">
									<span>Sábado</span>
									<span>09:00 ─ 10:30</span>
									<span class="event-hall">Auditório</span>
								</div>
								<div class="col-sm-9 event-detail">
									<h3><a href="#">Palestra: Mediunidade Tribal e na Antiguidade</a></h3>
									<div class="row margin-b-20">
										<div class="col-sm-2">
											<img
												src="https://cdn.iconscout.com/icon/free/png-256/avatar-370-456322.png"
												alt=""
												class="img-fluid"
											/>
										</div>
										<div class="col-sm-10">
											<h4>André Siqueira</h4>
											<p>
												But I must explain to you how all this mistaken idea of denouncing
												pleasure and praising pain was born and I will give you a complete
												account of the system, and expound the actual teachings, the
												master-builder of human happiness
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row margin-b-30" style="opacity: 0.7;">
								<div class="col-sm-3 event-info">
									<span>Sábado</span>
									<span>10:30 ─ 11:00</span>
									<span class="event-hall">Auditório</span>
								</div>
								<div class="col-sm-9 event-detail">
									<h3><a href="#">Intervalo Musical</a></h3>
									<p>
										But I must explain to you how all this mistaken idea of denouncing pleasure and
										praising pain was born and I will give you a complete account of the system, and
										expound the actual teachings, the master-builder of human happiness
									</p>
								</div>
							</div>
							<div class="row margin-b-30">
								<div class="col-sm-3 event-info">
									<span>Sábado</span>
									<span>11:00 ─ 12:30</span>
									<span class="event-hall">Auditório</span>
								</div>
								<div class="col-sm-9 event-detail">
									<h3><a href="#">Palestra: Mediunidade na Primeira Revelação</a></h3>
									<div class="row margin-b-20">
										<div class="col-sm-2">
											<img
												src="https://cdn1.iconfinder.com/data/icons/avatars-1-5/136/87-512.png"
												alt=""
												class="img-fluid"
											/>
										</div>
										<div class="col-sm-10">
											<h4>Juselma Coelho</h4>
											<p>
												But I must explain to you how all this mistaken idea of denouncing
												pleasure and praising pain was born and I will give you a complete
												account of the system, and expound the actual teachings, the
												master-builder of human happiness
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row margin-b-30" style="opacity: 0.7;">
								<div class="col-sm-3 event-info">
									<span>Sábado</span>
									<span>12:30 ─ 14:00</span>
								</div>
								<div class="col-sm-9 event-detail">
									<h3><a href="#">Intervalo Musical ─ Almoço</a></h3>
									<p>
										But I must explain to you how all this mistaken idea of denouncing pleasure and
										praising pain was born and I will give you a complete account of the system, and
										expound the actual teachings, the master-builder of human happiness
									</p>
								</div>
							</div>
							<div class="row margin-b-30">
								<div class="col-sm-3 event-info">
									<span>Sábado</span>
									<span>14:00 ─ 15:30</span>
									<span class="event-hall">Auditório</span>
								</div>
								<div class="col-sm-9 event-detail">
									<h3><a href="#">Palestra: Mediunidade na Segunda Revelação</a></h3>
									<div class="row margin-b-20">
										<div class="col-sm-2">
											<img
												src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSIGxLw0qyh-1XV4UlVuYIXnVjcESyJAnmlKbg60jSON6TFhyw1"
												alt=""
												class="img-fluid"
											/>
										</div>
										<div class="col-sm-10">
											<h4>Jacobson Sant’Ana</h4>
											<p>
												But I must explain to you how all this mistaken idea of denouncing
												pleasure and praising pain was born and I will give you a complete
												account of the system, and expound the actual teachings, the
												master-builder of human happiness
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row margin-b-30" style="opacity: 0.7;">
								<div class="col-sm-3 event-info">
									<span>Sábado</span>
									<span>15:30 ─ 16:00</span>
									<span class="event-hall">Auditório</span>
								</div>
								<div class="col-sm-9 event-detail">
									<h3><a href="#">Intervalo Musical</a></h3>
									<p>
										But I must explain to you how all this mistaken idea of denouncing pleasure and
										praising pain was born and I will give you a complete account of the system, and
										expound the actual teachings, the master-builder of human happiness
									</p>
								</div>
							</div>
							<div class="row margin-b-30">
								<div class="col-sm-3 event-info">
									<span>Sábado</span>
									<span>16:00 ─ 17:30</span>
									<span class="event-hall">Auditório</span>
								</div>
								<div class="col-sm-9 event-detail">
									<h3><a href="#">Palestra: Mediunidade na Terceira Revelação</a></h3>
									<div class="row margin-b-20">
										<div class="col-sm-2">
											<img
												src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRjfJW7v4TfprjQz57iK4KHbU8XLX18kx8bxIBpqUlacbNCnO7Z"
												alt=""
												class="img-fluid"
											/>
										</div>
										<div class="col-sm-10">
											<h4>Cosme Massi</h4>
											<p>
												But I must explain to you how all this mistaken idea of denouncing
												pleasure and praising pain was born and I will give you a complete
												account of the system, and expound the actual teachings, the
												master-builder of human happiness
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row margin-b-30">
								<div class="col-sm-3 event-info">
									<span>Sábado</span>
									<span>17:30 ─ 18:30</span>
									<span class="event-hall">Auditório</span>
								</div>
								<div class="col-sm-9 event-detail">
									<h3><a href="#">Interação com o público</a></h3>
									<p>
										Será rateada a palavra para que o público exponha suas perguntas e os
										palestrantes responderão.
									</p>
								</div>
							</div>
							<div class="row margin-b-30" style="opacity: 0.7;">
								<div class="col-sm-3 event-info">
									<span>Sábado</span>
									<span>18:30</span>
								</div>
								<div class="col-sm-9 event-detail">
									<h3><a href="#">Prece e encerramento</a></h3>
								</div>
							</div>
						</div>

						<div
							role="tabpanel"
							class="tab-pane fade "
							id="03"
							ng-class="$ctrl.activeTab == 3 ? 'active show' : 'hide' "
						>
							<div class="row margin-b-30" style="opacity: 0.7;">
								<div class="col-sm-3 event-info">
									<span>Domingo</span>
									<span>08:00 ─ 08:45</span>
									<span class="event-hall">Auditório</span>
								</div>
								<div class="col-sm-9 event-detail">
									<h3><a href="#">Boas-Vindas e Apresentação Musical</a></h3>
									<p>
										But I must explain to you how all this mistaken idea of denouncing pleasure and
										praising pain was born and I will give you a complete account of the system, and
										expound the actual teachings, the master-builder of human happiness
									</p>
								</div>
							</div>
							<div class="row margin-b-30">
								<div class="col-sm-3 event-info">
									<span>Domingo</span>
									<span>08:45 ─ 09:30</span>
									<span class="event-hall">Auditório</span>
								</div>
								<div class="col-sm-9 event-detail">
									<h3><a href="#">Exposição 1: André Luiz e o Estudo da Mediunidade</a></h3>
									<div class="row margin-b-20">
										<div class="col-sm-2">
											<img
												src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSIGxLw0qyh-1XV4UlVuYIXnVjcESyJAnmlKbg60jSON6TFhyw1"
												alt=""
												class="img-fluid"
											/>
										</div>
										<div class="col-sm-10">
											<h4>Jacobson Sant’Ana</h4>
											<p>
												But I must explain to you how all this mistaken idea of denouncing
												pleasure and praising pain was born and I will give you a complete
												account of the system, and expound the actual teachings, the
												master-builder of human happiness
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row margin-b-30">
								<div class="col-sm-3 event-info">
									<span>Domingo</span>
									<span>09:30 ─ 10:15</span>
									<span class="event-hall">Auditório</span>
								</div>
								<div class="col-sm-9 event-detail">
									<h3><a href="#">Exposição 2: Emmanuel e a Prática Mediúnica</a></h3>
									<div class="row margin-b-20">
										<div class="col-sm-2">
											<img
												src="https://cdn.iconscout.com/icon/free/png-256/avatar-370-456322.png"
												alt=""
												class="img-fluid"
											/>
										</div>
										<div class="col-sm-10">
											<h4>André Siqueira</h4>
											<p>
												But I must explain to you how all this mistaken idea of denouncing
												pleasure and praising pain was born and I will give you a complete
												account of the system, and expound the actual teachings, the
												master-builder of human happiness
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row margin-b-30" style="opacity: 0.7;">
								<div class="col-sm-3 event-info">
									<span>Domingo</span>
									<span>10:15 ─ 11:00</span>
									<span class="event-hall">Auditório</span>
								</div>
								<div class="col-sm-9 event-detail">
									<h3><a href="#">Intervalo Musical</a></h3>
									<p>
										But I must explain to you how all this mistaken idea of denouncing pleasure and
										praising pain was born and I will give you a complete account of the system, and
										expound the actual teachings, the master-builder of human happiness
									</p>
								</div>
							</div>
							<div class="row margin-b-30">
								<div class="col-sm-3 event-info">
									<span>Domingo</span>
									<span>11:00 ─ 11:45</span>
									<span class="event-hall">Auditório</span>
								</div>
								<div class="col-sm-9 event-detail">
									<h3><a href="#">Exposição 3: Chico Xavier e a vivência mediúnica</a></h3>
									<div class="row">
										<div class="col-sm-2">
											<img
												src="https://cdn1.iconfinder.com/data/icons/avatars-1-5/136/87-512.png"
												alt=""
												class="img-fluid"
											/>
										</div>
										<div class="col-sm-10">
											<h4>Juselma Coelho</h4>
											<p>
												But I must explain to you how all this mistaken idea of denouncing
												pleasure and praising pain was born and I will give you a complete
												account of the system, and expound the actual teachings, the
												master-builder of human happiness
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row margin-b-30">
								<div class="col-sm-3 event-info">
									<span>Domingo</span>
									<span>11:45 ─ 12:30</span>
									<span class="event-hall">Auditório</span>
								</div>
								<div class="col-sm-9 event-detail">
									<h3><a href="#">Exposição 4: Allan Kardec e os médiuns da codificação</a></h3>
									<div class="row margin-b-20">
										<div class="col-sm-2">
											<img
												src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRjfJW7v4TfprjQz57iK4KHbU8XLX18kx8bxIBpqUlacbNCnO7Z"
												alt=""
												class="img-fluid"
											/>
										</div>
										<div class="col-sm-10">
											<h4>Cosme Massi</h4>
											<p>
												But I must explain to you how all this mistaken idea of denouncing
												pleasure and praising pain was born and I will give you a complete
												account of the system, and expound the actual teachings, the
												master-builder of human happiness
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row margin-b-30" style="opacity: 0.7;">
								<div class="col-sm-3 event-info">
									<span>Domingo</span>
									<span>12:30</span>
									<span class="event-hall">Auditório</span>
								</div>
								<div class="col-sm-9 event-detail">
									<h3><a href="#">Encerramento</a></h3>
									<p>
										Formação da mesa de encerramento do evento - Considerações Finais - Despedidas e
										anúncio da 30ª Mostra Espírita.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
