<app-section-header></app-section-header>
<app-section-hero></app-section-hero>
<app-section-about></app-section-about>
<app-section-team></app-section-team>
<app-section-schedule></app-section-schedule>
<app-section-pricing></app-section-pricing>
<app-section-infra></app-section-infra>
<app-section-testimonial></app-section-testimonial>
<app-section-faq></app-section-faq>
<app-section-contact></app-section-contact>
<app-section-map></app-section-map>
<app-section-footer></app-section-footer>

<div class="fixed-bottom d-flex justify-content-end p-3">
    <!-- <a class="border-primary" href="#">
        Site da FEP
        <i class="fa-solid fa-arrow-up-right-from-square me-2"></i>
    </a> -->
    <!-- <a href="https://federacaoespiritape.org/" target="_blank" class="btn btn-outline-primary btn-sm" role="button">
        Site da FEP
        <i class="fa-solid fa-arrow-up-right-from-square ms-2"></i>
    </a> -->
    <a href="https://federacaoespiritape.org/" target="_blank" class="btn btn-primary rounded-pill d-flex align-items-center" role="button">
        <img src="../../../../assets/images/logo/logo_FEP_cor_branca.png" alt="" width="32px" />
        <i class="fa-solid fa-arrow-up-right-from-square ms-3 text-white" style="font-size: small"></i>
    </a>
</div>
