<div id="sticky-wrapper" class="sticky-wrapper" style="height: 58px;">
	<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-nav">
		<div class="container">
			<button
				class="navbar-toggler navbar-toggler-right"
				type="button"
				data-toggle="collapse"
				data-target="#navbarsspy"
				aria-controls="navbarsspy"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" data-scroll="" href="#home"
				><img src="/src/assets/images/header-logo.png" alt="" width="130px"
			/></a>

			<div class="collapse navbar-collapse" id="navbarsspy">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a data-scroll="" class="nav-link active" href="#home">Home</a></li>
					<li class="nav-item"><a data-scroll="" class="nav-link" href="#about">About</a></li>
					<li class="nav-item"><a data-scroll="" class="nav-link" href="#services">Services</a></li>
					<li class="nav-item"><a data-scroll="" class="nav-link" href="#portfolio">Portfolio</a></li>
					<li class="nav-item"><a data-scroll="" class="nav-link" href="#pricing">Pricing</a></li>
					<li class="nav-item"><a data-scroll="" class="nav-link" href="#team">team</a></li>
					<li class="nav-item">
						<a data-scroll="" class="nav-link" href="#testimonials">Testimonials</a>
					</li>
					<li class="nav-item"><a data-scroll="" class="nav-link" href="#contact">Contact</a></li>
				</ul>
			</div>
			<ul class="float-right navbar-nav hidden-md-down">
				<li class="nav-item">
					<a
						href="https://wrapbootstrap.com/theme/assan-multipurpose-15-themes-admin-WB05F069P//?ref=wb_rakesh"
						target="_blank"
						class="nav-link btn btn-rounded btn-primary text-white "
						>Comprar Ingresso
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
