<div id="about" class="bg-white">
	<div class="half-image-content">
		<!-- Background Image Parallax -->
		<div data-jarallax data-speed="0.2" class="jarallax content-img bg-parallax pos-left hidden-md-down">
			<img class="jarallax-img" src="https://via.placeholder.com/992x800.jpg" alt="" />
		</div>
		<!-- <div
			class=" parallax content-img bg-parallax pos-left hidden-md-down"
			data-jarallax='{"speed": 0.2}'
			style="background:url(https://via.placeholder.com/992x800.jpg) no-repeat;"
		></div>
    -->
		<img src="https://via.placeholder.com/992x800.jpg" class="visible-lg-down hidden-lg-up img-fluid" alt="" />
		<div class="container">
			<div class="row">
				<div class="col-lg-6 ml-auto  pt80 pb80">
					<h2 class="mb20">
						Sobre a Mostra
					</h2>
					<div class="clearfix">
						<p>
							A Mostra Espírita é o maior evento organizado pela Federação Espírita Pernambucana (FEP).
							Idealizada por Fulano de Tal em 1800, a Mostra ocorre nas dependências da FEP
							tradicionalmente na 3ª semana de Setembro. O evento ocorre durante o fim de semana e conta
							com diversas palestras, debates e atrações musicais. Este ano a Mostra irá para sua 29ª
							edição e será realizada nos dias 18, 19 e 20 de setembro.
						</p>
						<p>
							Além do evento principal, a Mostra Espírita conta com 2 eventos paralelos, a Mostra Jovem,
							que ocorre durante todo o sábado e aceita jovens de 13 à 25 anos, e a Mostrinha, que ocorre
							durante todo o sábado e domingo e visa atingir crianças de 5 a 12 anos.
						</p>

						<br />
						<h5 class="font700">Contagem regressiva</h5>
						<div class="count-down text-white" data-end-date="Jan 1, 2018 00:00:00">
							<div class="cd-row">
								<div>
									<h3>{{$ctrl.timespan.months}}</h3>
									<p>Meses</p>
								</div>
								<div>
									<h3>{{$ctrl.timespan.days}}</h3>
									<p>Dias</p>
								</div>
								<div>
									<h3>{{$ctrl.timespan.hours}}</h3>
									<p>Horas</p>
								</div>
							</div>
							<div class="cd-row">
								<div>
									<h3>{{$ctrl.timespan.minutes}}</h3>
									<p>Minutos</p>
								</div>
								<div>
									<h3>{{$ctrl.timespan.seconds}}</h3>
									<p>Segundos</p>
								</div>
							</div>
						</div>
						<a href="#schedule" data-scroll class="btn btn-primary mr-3 mb-2">Programação</a>
						<a href="#pricing" data-scroll class="btn btn-dark mr-3 mb-2">Inscrições</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--half image section-->
</div>
<!--about-->
