<div id="speakers" class="pt90 pb60 bg-faded">
	<div class="container">
		<div class="center-title mb60 text-center">
			<h2>Palestrantes</h2>
			<p>Conheça um pouco sobre os palestrantes do evento</p>
		</div>

		<div class="row">
			<div class="col-md-3 mb30">
				<div class="speaker-card">
					<img
						src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrormslXDSVWmkX_Y3U9jDs22k4UiCLSTJkD0Pg99CQwwInq6PBQ&s"
						alt=""
						class="img-fluid"
					/>
					<div class="team-overlay align-items-center">
						<div class="team-detail">
							<h4>Juselma Coelho</h4>
							<span>
								Minas Gerais
							</span>
							<div class="seprator-overlay"></div>
							<ul class="list-inline">
								<li class="list-inline-item">
									<a href="#"><i class="fab fa-facebook"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fab fa-twitter"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"> <i class="fab fa-youtube"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fab fa-instagram"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--/col-->
			<div class="col-md-3 mb30">
				<div class="speaker-card">
					<img
						src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLtpkk39ArbCuytjb_gnzgrr3Qb236CyOXuNMalvAx4-ZYrTSN&s"
						alt=""
						class="img-fluid"
					/>
					<div class="team-overlay align-items-center">
						<div class="team-detail">
							<h4>Jacobson Sant’Ana</h4>
							<span>Goias</span>
							<div class="seprator-overlay"></div>
							<ul class="list-inline">
								<li class="list-inline-item">
									<a href="#"><i class="fab fa-facebook"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fab fa-twitter"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"> <i class="fab fa-youtube"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fab fa-instagram"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--/col-->
			<div class="col-md-3 mb30">
				<div class="speaker-card">
					<img
						src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAI5RWJnFNnH2tGjAT-Jp-wDVKZPDZfNFalrY40HxGxLqVdHdEqQ&s"
						alt=""
						class="img-fluid"
					/>
					<div class="team-overlay align-items-center">
						<div class="team-detail">
							<h4>André Siqueira</h4>
							<span>Distrito Federal</span>
							<div class="seprator-overlay"></div>
							<ul class="list-inline">
								<li class="list-inline-item">
									<a href="#"><i class="fab fa-facebook"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fab fa-twitter"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"> <i class="fab fa-youtube"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fab fa-instagram"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--/col-->
			<div class="col-md-3 mb30">
				<div class="speaker-card">
					<img
						src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1wxo-5eLA3h_CxJ_xjDyXdKYH2hAr-3Irw1HaOtZgHAnUkWghQQ&s"
						alt=""
						class="img-fluid"
					/>
					<div class="team-overlay align-items-center">
						<div class="team-detail">
							<h4>Cosme Massi</h4>
							<span>Paraná</span>
							<div class="seprator-overlay"></div>
							<ul class="list-inline">
								<li class="list-inline-item">
									<a href="#"><i class="fab fa-facebook"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fab fa-twitter"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"> <i class="fab fa-youtube"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fab fa-instagram"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--/col-->
		</div>
	</div>
</div>
